*{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
     justify-content: center;
     display:flex;
     background-color:whitesmoke;
     height:140vh;
}
.container
{
    animation: fadeIn 0.5s ease-in-out;
    padding: 40px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
    height: 120vh;
    background: none;
     border-radius: 12px;
     width:350px;
    
    }
    button {
      width: 100%;
      padding: 10px;
      background: #ff6600;
      color: blue;
      border: none;
      border-radius: 10px;
      font-weight: 700;
      cursor: pointer;
      font-size: 1rem;
      margin:10px 15px 15px 0px;
    }
    .input-group
    {
        margin:10px;
        display :flex;
        flex-direction: column;
    }
    .input-group label{
  font-size: 15px; /* increase text size */
  width: 40px;
height: 4vh;
writing-mode: horizontal-tb; /* default: text flows left to right */
  text-orientation: mixed;   
  margin-bottom: 2px;
   white-space: nowrap; 
}
h2,h5{
    text-align: center;
}
label.required::before {
  content: " *";        /* add a space then star */
  color: red;           /* make star red */
  font-weight: bold;    /* make it bold */
}
#email,#password,#tel,#date,#gender
{
  padding:1px;
 border-radius: 5px;
 width: auto;
 height: 4vh;
}
.password-container {
      position: relative;
      width: auto;
      height: 20vh;
      margin-bottom: 10px;
}
 .password-container input {
      width: auto;
      padding: 8px 5px 8px 8px; /* space for the icon inside */
      box-sizing: border-box;
    }
     .toggle-password {
      position: absolute;
      right: 10px; /* distance from the right edge */
      top: 80%;
      transform: translateY(-50%);
      cursor: pointer;
      user-select: none;
      font-size: 16px;
      color: gray;
    }
    .toggle-password:hover {
      color: black;
    }
    .logo {
        width: 130px;
        height: 10vh;
       margin: 0 auto;
       display: block;
       margin-bottom: 10px;
    }
    